body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size: 14px;
    color: #70757a;
}
#search-div{
    text-align: center;
    margin-top: 190px;
}

#searchbox{
    width: 400px;
}

.search-button{
    color:#5F6368;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    font-size: 14px;
    padding: 10px 16px;
    margin: 11px 4px;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover{
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

#searchbox-outside{
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    height: 40px;
    border: 1px solid #f2f2f2;
    background: #fff;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

#searchbox-outside:hover{
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

#searchbox{
    border: 0px;
    font-size: 16px;
    background-color: transparent;
    outline: none;
    margin-right: 2px;
}

#search-icon{
    margin-left: 20px;
    padding-right: 10px;
}

a{
    padding: 10px;
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}

a:hover{
    text-decoration: underline;
}


footer a{
    color: #5f6368;
}

.material-icons.md-24{
    font-size: 24px;
    margin-right: 10px;
}

#apps-icon{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.87);
    opacity: 0.55;
}

#apps-icon:hover{
    color: black;
    opacity: 1;
}

#header-right{
    position: fixed;
    top: 0;
    right: 15px;
    padding-top: 10px;
    background-color: white;
    color:rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

#header-right input{
    background-color:#2b7de9;
    color: white;
    border: 1px solid #2b7de9;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    line-height: 28px;
    padding: 0px 12px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;
    background-color:#f2f2f2;
    color: #70757a;
    display: flex;
    flex-direction: row;
    
}

#footer-right{
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0.60rem;
    margin-right: 10px;
    
}

#footer-left{
    position:  fixed;
    left: 0;
    bottom: 0;
    padding: 0.60rem;
    margin-left: 10px;
}